@import url('https://fonts.googleapis.com/css?family=Sofia');
*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}
#navbar{
    background-color: rgb(121, 0, 0);
    padding: 18px 15px;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li{
    list-style: none;
}

#navbar li a {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 20px;
    color: white;
    font-family: "Sofia", sans-serif;
}

#navbar li a:hover {
    color: rgb(0, 0, 0); 
}

#introSection{
    background: url("/static/dance.avif") no-repeat center center/cover;
    height: 600px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 40px;
    align-items: center;
    background-color: red;
    color: white;
}

#introSection div.small{
    font-size: 25px;
    padding: 5px;
}

#missonSection{
    height: 300px;
    background-color: rgba(255, 255, 255, 0.726);
    width: 60%;
    margin: auto;
}

#missonSection h2{
    text-align: center;
    padding-top: 15px;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

.card{
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    width: 31.5%;
    margin: 13px 8px;
    height: 190px;
    background-color: blanchedalmond;
    box-shadow: 7px 6px 8px #6c6a6a;
}

.card h3{
    text-align: center;
    margin: 12px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#sponcorsSection {
    height: 300px;
    background-color: rgba(164, 93, 0, 0.726);
}

#sponcorsSection h2{
    text-align: center;
    padding-top: 15px;
    font-family: "Sofia", sans-serif;
    font-size: 30px;
}

#footer{
    height: 100px;
    background-color: rgb(0, 0, 0);
    color: white;

}