/* CSS reset */
* {
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

html {
    scroll-behavior: smooth;
}

/* CSS variable */
:root {
    --navbar-height: 59px;
}

/* Navigation Bar: Logo and image */
#logo {
    margin: 0px 10px;
}

#logo img {
    height: 50px;
    margin: 0px 20px;
}

/* Navigation bar */
#navbar {
    display: flex;
    /* align-items: center; */
    position: sticky;
    top: 0px;
    /* justify-content: center; */
}

#navbar::before {
    content: "";
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: List Styling */
#navbar ul {
    display: flex;
}


#navbar ul li {
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a {
    color: rgb(255, 255, 255);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover {
    color: rgb(0, 0, 0);
    background-color: white;
}

/* Home section */
#home {
    display: flex;
    flex-direction: column;
    height: 458px;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
}

#home::before {
    content: "";
    background: url('../food.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 540px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1 {
    color: white;
    text-align: center;

}

#home p {
    color: white;
    text-align: center;
    font-size: 1.5rem;

}

/* Service section */
#services {
    margin-left: auto;
    display: flex;
    height: auto;
}

#services-container h1 {
    font-size: 40px;
}

#services .box {
    /* border: 2px solid rgb(255, 82, 82); */
    padding: 0px;
    margin: -15px 25px;
    height: auto;
    width: auto;
    border-radius: 30px;
    background: #eaeaea;
    align-items: center;
    box-shadow: 15px 15px 10px rgb(116, 105, 105);
}

#services .box:hover {
    background-color: #fff0f0;
    box-shadow: 15px 15px 10px rgb(65, 52, 62);
    border-radius: 20px;

}

#services .box img {
    height: 200px;
    width: 300px;
    margin: auto;
    margin-top: 20px;
    display: block;

}

/* Client section */
#client-section {
    position: relative;
    margin-top: 50px;
}

/* #client-section .h-parimary center{
    margin-top: 20px;
} */

#client-section::before {
    content: "";
    position: absolute;
    background: url('../food\ background2.png') no-repeat center center/cover;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}

#clients {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clients img {
    height: 60px;
}

#clients img:hover {
    height: 65px;
}

.client-item {
    padding: 30px;
}

/* Footer Section */
footer {
    background: black;
    color: white;
    padding: 0px 0px;
}

/* form section */
#contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}

#contact-box button {
    background-color: green;
    border: 2px solid rgb(238, 255, 0);
    cursor: pointer;
}

#contact-box button:hover {
    background-color: aqua;
    color: black;
}

#contact-box form {
    width: 40%;
}

#contact-box label {
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
}

#contact-box input,
#contact-box textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    font-size: 1.1rem;
}

/* Contact Section */
#contact {
    position: relative;
}

#contact::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../coffiee\ background.webp) no-repeat center center/cover;
}

/* Utility Classes */
.h-primary {
    font-size: 2.9rem;
    padding: 12px;
    font-family: "Sofia", sans-serif;
}

.h-secondery {
    font-size: 2.6rem;
    padding: 12px;
    font-family: "Sofia", sans-serif;
}

.btn {
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    font-family: "Sofia", sans-serif;
}

.btn:hover {
    background-color: rgb(42, 4, 91);

}

.center {
    margin: 30px;
    text-align: center;
    font-family: "Sofia", sans-serif;
}