@media only screen and (max-width: 1000px) {
    .textLine {
        font-size: 2%;
    }

    .setup-size {
        display: none;
    }

    .text-success {
        display: none;
    }

    .text-primary {
        display: none;
    }

    #commonStation {
        font-size: 1.7rem !important;
    }
    .ulid{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .ulid1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}