body {
    height: 157vh;
    background-image: linear-gradient(rgb(255 145 145 / 52%), rgb(91, 0, 98));
}

.logo {
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}

h1 {
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.container {
    max-width: 978px;
    border: 2px solid black;
    margin: auto;
    height: 60vh;
    padding: 22px;
    overflow-y: auto;
    margin-bottom: 14px;
    border-radius: 10px;
}

.message {
    background-color: rgb(6 65 58);
    width: 45%;
    padding: 10px;
    margin: 17px 12px;
    border-radius: 10px;
    color: white;
}

.left {
    float: left;
    clear: both;
    background-color: rgb(0 89 36 / 91%);
    color: white;
    
}

.right {
    float: right;
    clear: both;
    background-color: rgb(13, 69, 106);
    color: white;
}

#send-container {
    display: block;
    margin: auto;
    text-align: center;
    max-width: 1000px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn {
    margin: 1.5px;
    width: 12%;
    cursor: pointer;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 6px;
    height: 35px;
    background-color: #00835b;
    font-size: 12px;
}

.btn:hover {
    background-color: #005e42;
}

#messageinp {
    width: 88%;
    border: 2px solid rgb(221 29 125);
    border-radius: 7px;
    height: 30px;
    font-size: 18px;
    background-color: rgb(156 255 221 / 33%);
}