@media only screen and (max-width: 1100px) {
    .nav-list {
        flex-direction: column;
    }

    .navbar {
        flex-direction: column;
        transition: all 0.6s ease-out;
        height: 480px;
    }

    .logo img {
        width: 45%;
    }

    .rightNav {
        text-align: center;
    }

    .box-main {
        flex-direction: column-reverse;
        max-width: 100%;
    }

    #search {
        width: 100%;
    }

    .burger {
        display: block;
    }

    .h-nav {
        height: 62px;
    }

    .v-class {
        opacity: 0;
    }

    .section {
        flex-direction: column-reverse;
    }

    .text-small {
        text-align: center;
    }

    .text-big {
        text-align: center;
    }

    .buttons {
        text-align: center;
    }

    .para {
        padding: 0px 1px;
    }
}